
@model U18OCT09X1.Models.UserRecord
@{
    ViewBag.Title = "Cars";
}


<div>
    <h2>Cars</h2>
    <p>List of cars below</p>
</div>
<div>
    @{
        Html.RenderAction("Cars");

    }

</div>
<div>
    @{
        Html.RenderAction("Customers");

    }

</div>
<div>
    <div class="modal fade ModalRent" tabindex="-1" role="dialog" aria-labelledby="ModalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalTitle">
                        Modal Title
                    </h5>
                    <btn typeof="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </btn>
                </div>
                <div class="modal-body">
                    <div>
                        @using (Html.BeginForm())
                        {
                            <div class="form-group">
                                @Html.LabelFor(anka => anka.FirstName)
                                @Html.TextBoxFor(anka => anka.FirstName, new { @class = "form-control" })
                            </div>
                        }

                    </div>
                </div>
                <div class="modal-footer">
                    <btn type="button" class="btn btn-secondary" data-dismiss="modal">Close</btn>
                    <btn type="button" class="btn btn-primary">Rent</btn>

                </div>

            </div>

        </div>


    </div>

</div>

